@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --primary: #E69295;
  --secundary: #E9DED1;
  --tertiary: #C6D9ED;
}

body {
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.6rem;
}

#container {
  background-color: var(--secundary);
  width: 70rem;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0rem 1rem 1.5rem -0.3rem rgb(0, 0, 0, 0.1);
}

.tab-buttons {
  display: flex;
  gap: 0.8rem;
}

.tab-btn {
  width: 100%;
  border: none;
  background-color: var(--secundary);
  border-radius: 1rem 1rem 0rem 0rem;
  font-weight: 500;
  padding: 0.8rem;
  cursor: pointer;
  transition: background-color .3s ease;
}

.tab-btn.active {
  background-color: var(--tertiary);
}

.tab-btn:hover {
  background-color: #a8caef;
}

.content {
  display: none;
}

.content.show {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  background-color: var(--tertiary);
  border-radius: 0rem 0rem 1rem 1rem;
  padding: 1.6rem;
}

.content-img {
  width: 50%;
  height: 30rem;
}

@media screen and (max-width: 525px) {
  #container {
    width: 35rem;
    font-size: 1.2rem;
  }

  .tab-buttons {
    gap: 0.3rem;
  }

  .tab-btn {
    font-size: 1.2rem;
  }

  .content.show {
    display: flex;
    flex-direction:column-reverse;
  }

  .content-img {
    width: 100%;
  }
}